body {
	background-image: url("/img/bg.png");
}

.btn-primary {
	width: 100%;
}

#btn-ts {
	width: 50%;
	margin-top: 10px;
	background-color: #ff7473;
	border: #ff7473;
}
#btn-ts:hover {
	background-color: #47b8e0;
}

#btn-contact {
	width: 50%;
	margin-top: 10px;
	background-color: #47b8e0;
	border: #47b8e0;
}
#btn-contact:hover {
	background-color: #ff7473;
}