body {
	background: #fff url("/img/bg.png") no-repeat fixed;
  background-size: cover;
}

#btn-ts {
	margin-top: 10px;
	background-color: #ff7473;
	border: #ff7473;
}
#btn-ts:hover {
	background-color: #47b8e0;
}

#btn-contact {
	margin-top: 10px;
	background-color: #47b8e0;
	border: #47b8e0;
}
#btn-contact:hover {
	background-color: #ff7473;
}
