body {
	background: #fff url("/img/bg.png") no-repeat fixed;
  background-size: cover;
}

.logo {
	display: block;
	margin: auto;
	padding-top: 2%;
	padding-bottom: 5%;
}
.btn-primary {
	border: 2px solid #ff7473;
}
.btn-primary:hover {
	background-color: #ff7473;
}

#btn-ts {
	margin-top: 10px;
	background-color: trasnparent;
	border: #ff7473;
	border: 2px solid #ffc952;
}
#btn-ts:hover {
	background-color: #ffc952;
}

#btn-contact {
	margin-top: 10px;
	background-color: transparent;
	border: #47b8e0;
	border: 2px solid #ffc952;
}
#btn-contact:hover {
	background-color: #ffc952;
}
.footerholder {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    position: fixed;
    width: 100%;
    color: #ffffff;
}
.footerholder a {
	color: #0080ff;
}
.footer {
    height: 100px;
    margin: auto;
    width: 400px;
}